.register {
  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__content {
    &__heading {
      h1 {
        color: #7878ff;
      }
      h3 {
        margin: 0 0 35px;
        font-size: 20px;
        font-weight: 700;
        color: #040404;
        text-transform: uppercase;
      }
    }

    &__body {
      .input__field {
        margin-bottom: 25px;

        label {
          color: #535353;
          font-size: 16px;
          margin-bottom: 5px;
          display: block;
        }

        input {
          width: 100%;
          padding: 10px 20px;
          font-size: 16px;
          outline: none;
          height: 50px;
          color: #535353;
          border-radius: 3px;
          font-weight: 500;
          border: 1px solid #d3d3d3;
          transition: all 0.7s ease;

          &:focus {
            border: 2px solid #7878ff;
            transition: all 0.7s ease;
          }
        }

        .input__wrapper {
          position: relative;
          i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }

        span.error__message {
          color: red;
          display: block;
          margin-top: 5px;
          font-size: 16px;
          font-style: italic;
        }
      }

      .submit__button {
        padding: 0 50px;
        line-height: 46px;
        background: #7878ff;
        color: #fff;
        text-align: center;
        border: 2px solid transparent;
        transition: all 0.7s ease;
        border-radius: 3px;
        font-size: 17px;
        font-weight: 400;

        &:hover {
          cursor: pointer;
          color: #7878ff;
          border: 2px solid #7878ff;
          background: transparent;
        }
      }
    }
  }
}
